.laptop_img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
}

.laptop_img p{
    text-align: center;
    width: 170px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 50px;
    padding: 15px;
    color: black;
    background-color: #f5af09;
    cursor: pointer;
    transition: background-color .4s;
    border: none;
}

::-webkit-file-upload-button:hover{
    background-color: #edc66c;
}

@media screen and (max-width: 650px) {
    .laptop_img{
        height: 90px;
        margin-top: 0px;
    }
    .laptop_img p{
        width: 160px;
        font-size: 18px;
        padding: 10px;
    }
    .laptop_img p{
        font-size: 18px;
    }
}

