.laptop_brand_info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.laptop_brand_info div p{
    font-size: 20px;
}

.laptop_brand_info div input{
    font-size: 18px;
    margin: 10px 0px;
    width: 270px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(206, 205, 205);
    padding: .2rem .5rem;
}

@media screen and (max-width: 950px) {
    .laptop_brand_info div input{
        width: 200px;
    }
    .laptop_brand_info{
        justify-content: space-around;
    }
}

@media screen and (max-width: 650px) {
    .laptop_brand_info{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .laptop_brand_info div input{
        width: 270px;
    }
}