.detailed_info_container{
    outline: 1.5px solid rgb(42, 42, 162);
    padding: 0rem 2rem;
    width: 900px;
    height: 550px;
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
    overflow-y: scroll;
}

.detailed_info_container::-webkit-scrollbar{
    display: none;
}

/* main info style */

.main_info_detailed{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem 1rem 1rem;
    border-bottom: 1px solid grey;
}

.main_info_detailed .left_subSection{
    width: 40%;
    outline: 3px dashed green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_info_detailed .left_subSection p{
    font-size: 20px;
}

.main_info_detailed .right_subSection{
    display: flex;
    justify-content: flex-end;
}

.main_info_detailed .right_subSection .keys{
    margin-right: 50px;
}

.main_info_detailed .right_subSection .keys p,
.main_info_detailed .right_subSection .values p{
    margin-right: 5px;
    font-size: 18px;
    margin-bottom: 8px;
}

/* laptop info style */

.laptop_info_detailed{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0rem 5rem 1rem 5rem;
    border-bottom: 1px solid grey;
}

.laptop_info_detailed .left_subSection,
.laptop_info_detailed .right_subSection{
    display: flex;
    justify-content: space-between;
}

.laptop_info_detailed .left_subSection .keys{
    margin-right: 60px;
}

.laptop_info_detailed .right_subSection .keys{
    margin-right: 70px;
}

.laptop_info_detailed .left_subSection .keys p,
.laptop_info_detailed .left_subSection .values p,
.laptop_info_detailed .right_subSection .keys p,
.laptop_info_detailed .right_subSection .values p{
    font-size: 18px;
    margin-bottom: 8px;
}

/* other info style */

.other_info_detailed{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0rem 5rem 1rem 5rem;
    border-bottom: 1px solid grey;
}

.other_info_detailed .left_subSection,
.other_info_detailed .right_subSection{
    display: flex;
    justify-content: space-between;
}

.other_info_detailed .left_subSection .keys{
    margin-right: 60px;
}

.other_info_detailed .right_subSection .keys{
    margin-right: 70px;
}

.other_info_detailed .left_subSection .keys p,
.other_info_detailed .left_subSection .values p,
.other_info_detailed .right_subSection .keys p,
.other_info_detailed .right_subSection .values p{
    font-size: 18px;
    margin-bottom: 8px;
}

/*  BUTTONS  */

.lower_section{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.lower_section button{
    font-size: 22px;
    padding: .7rem 1.5rem;
    border: none;
    outline: none;
    border-radius: .2rem;
}

.lower_section .back_btn{
    margin-right: 50px;
    background-color: rgba(6, 206, 3, 0.150);
    cursor: pointer;
    transition: background-color .3s;
}

.lower_section .back_btn:hover{
    background-color: rgba(6, 206, 3, 0.8);
}

.lower_section .del_btn{
    margin-left: 50px;
    background-color: rgba(206, 3, 3, 0.150);
    cursor: pointer;
    transition: background-color .3s;
}

.lower_section .del_btn:hover{
    background-color: rgb(206, 3, 3, .8);
}

@media screen and (max-width: 1050px){
    .detailed_info_container{
        padding: 0rem 0rem;
        width: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .main_info_detailed .left_subSection{
        flex: 1;
    }
    .main_info_detailed .right_subSection{
        flex: 2;
    }
    .main_info_detailed .right_subSection .keys p,
    .main_info_detailed .right_subSection .values p{
        font-size: 16px;
    }
    .main_info_detailed .left_subSection p{
        font-size: 14px;
    }
    
    .laptop_info_detailed{
        padding: 1rem 1rem 1rem 1rem;
    }
    .laptop_info_detailed .left_subSection .keys,
    .laptop_info_detailed .right_subSection .keys{
        margin-right: 40px;
    } 
    .laptop_info_detailed .left_subSection .keys p,
    .laptop_info_detailed .left_subSection .values p,
    .laptop_info_detailed .right_subSection .keys p,
    .laptop_info_detailed .right_subSection .values p{
        font-size: 16px;
    }

    .other_info_detailed{
        padding: 1rem 1rem 1rem 1rem;
    }
    .other_info_detailed .left_subSection .keys,
    .other_info_detailed .right_subSection .keys{
        margin-right: 40px;
    } 
    .other_info_detailed .left_subSection .keys p,
    .other_info_detailed .left_subSection .values p,
    .other_info_detailed .right_subSection .keys p,
    .other_info_detailed .right_subSection .values p{
        font-size: 16px;
    }
}

@media screen and (max-width: 700px){
    .detailed_info_container{
        width: 400px;
        height: 550px;
        margin-top: 0px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .main_info_detailed{
        height: 300px;
        flex-direction: column;
    }
    .main_info_detailed .left_subSection{
        width: 100%;
    }
    .main_info_detailed .right_subSection{
        margin-top: 30px;
    }
    .main_info_detailed .right_subSection{
        justify-content: space-around;
    }
    .main_info_detailed .right_subSection .keys{
        margin-right: 10px;
    }
    .laptop_info_detailed{
        flex-direction: column;
    }
    .laptop_info_detailed .left_subSection,
    .laptop_info_detailed .right_subSection{
        justify-content: flex-start;
    }
    .laptop_info_detailed .right_subSection .values{
        margin-left: 30px;
    }
    .other_info_detailed{
        flex-direction: column;
    }
    .other_info_detailed .left_subSection,
    .other_info_detailed .right_subSection{
        justify-content: flex-start;
    }
    .other_info_detailed .right_subSection .values{
        margin-left: 70px;
    }
    .lower_section{
        position: sticky;
        padding: 1rem 2rem;
        bottom: 0;
        right: 0;
        background-color: #fff;
    } 
    .lower_section button{
        font-size: 18px;
        padding: .3rem 1rem;
    }   
}
